#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all optimize=-lto
export DEB_CFLAGS_MAINT_APPEND = -Wno-error -Wno-error=incompatible-pointer-types

%:
	dh $@ --buildsystem=meson

override_dh_autoreconf:
	@echo "Skipping Autotools regeneration for Meson packaging"

override_dh_auto_configure:
	dh_auto_configure --buildsystem=meson -- \
		--wrap-mode=nodownload \
		--buildtype=plain \
		--prefix=/usr \
		--libdir=lib/$$(dpkg-architecture -qDEB_HOST_MULTIARCH) \
		-Desd=disabled

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	xvfb-run --auto-servernum dh_auto_test --buildsystem=meson
endif

override_dh_auto_install:
	dh_auto_install --buildsystem=meson --destdir=$(CURDIR)/debian/tmp
	find $(CURDIR)/debian/tmp -name '*.la' -delete
	install -D -m 0644 packaging/xmms.desktop \
		$(CURDIR)/debian/tmp/usr/share/applications/xmms.desktop
	install -D -m 0644 xmms/xmms_mini.xpm \
		$(CURDIR)/debian/tmp/usr/share/icons/hicolor/16x16/apps/xmms.xpm

override_dh_missing:
	dh_missing --fail-missing
